html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: auto;
    aspect-ratio: 16 / 9;
}
